import React from 'react'
import {render} from "react-dom"
import {BindReact} from 'eg-tools'

import <%= upperName %> from '../containers/web/<%= upperName %>.jsx'
import * as reducers from '../reducers/index.es6'

render(
    <BindReact Module={<%= upperName %>} reducers={reducers} autoShowFetching={true} barName="web" />,
    document.getElementById('root')
);